# Format Style Options - Created with Clang Power Tools
---
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None 
AllowShortIfStatementsOnASingleLine: Never
BasedOnStyle: WebKit
BraceWrapping: 
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  BeforeLambdaBody: false
  BeforeWhile: false
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeColon
ColumnLimit: 120
Cpp11BracedListStyle: true
DerivePointerAlignment: true
IndentCaseLabels: true
SpaceBeforeCtorInitializerColon: false
SpaceInEmptyBlock: false
Standard: Cpp03
...